<div class="page-content px-3 mt-3">
  <div class="team-create mb-3" *ngIf="!teamCreated">
    <form>
      <div class="mb-3">
        <label for="exampleInputTeamName1" class="form-label">TeamName</label>
        <input type="text" class="form-control" id="exampleInputTeamName1" name="TeamName" [(ngModel)]="newTeam.teamName">
      </div>
      <div class="mb-3">
        <label for="exampleInputFormation1" class="form-label">Formation (GK Already Included)</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="newTeam.formation" name="Formation">
              <option selected>...</option>
              <option value="{{formation.id}}" *ngFor="let formation of formations" [ngValue]="formation.id">{{formation.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleInputFormation1" class="form-label">League</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="newTeam.league" name="League">
              <option selected>...</option>
              <option value="{{league.league_id}}" *ngFor="let league of leagues" [ngValue]="league.league_id">{{league.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" (click)="CreateTeam()">Create</button>
    </form>
  </div>
  <div class="team-info mb-3" *ngIf="teamCreated">
    <h1>
      My Team
    </h1>
    <div class="row w-100 justify-content-between">
      <div class="col-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{playerSlots[0].playerName}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{playerSlots[0].position}}</h6>
            <p class="card-text">Rating: {{playerSlots[0].Rating}}</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{playerSlots[1].playerName}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{playerSlots[1].position}}</h6>
            <p class="card-text">Rating: {{playerSlots[1].Rating}}</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{playerSlots[2].playerName}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{playerSlots[2].position}}</h6>
            <p class="card-text">Rating: {{playerSlots[2].Rating}}</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{playerSlots[3].playerName}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{playerSlots[3].position}}</h6>
            <p class="card-text">Rating: {{playerSlots[3].Rating}}</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{playerSlots[4].playerName}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{playerSlots[4].position}}</h6>
            <p class="card-text">Rating: {{playerSlots[4].Rating}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="coach-info mb-3" *ngIf="teamCreated">
    <h1>
      My Coach
    </h1>
    <div class="row w-100 justify-content-between">
      <div class="col-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{coachSlot.Name}}</h5>
            <p class="card-text">{{coachSlot.Team}}</p>
          </div>
        </div>
      </div>
      <div class="mb-3 w-25">
        <label for="exampleInputFormation1" class="form-label">Edit Coaches</label>
        <select class="form-select mb-1" aria-label="Default select example" [(ngModel)]="slotCoachName" name="slotCoachName">
              <option selected>...</option>
              <option value="1" *ngFor="let coach of coaches" [ngValue]="coach.firstname + ' ' + coach.lastname">{{coach.firstname}} {{coach.lastname}}</option>
        </select>
        <button type="submit" class="btn btn-primary" (click)="setCoachSlot()">Save</button>
        <button type="submit" class="btn btn-danger" (click)="DeleteCoach()">Delete</button>
      </div>
    </div>
  </div>
  <div class="edit-info" *ngIf="teamCreated">
    <h1>
      Edit Players
    </h1>
    <form class="w-50 m-auto">
      <div class="mb-3">
        <label for="exampleInputFormation1" class="form-label">Slots</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="slotValue" name="slotValue">
              <option selected>...</option>
              <option value="1" [ngValue]="1" *ngIf="slotOpen[0]">Slot 1</option>
              <option value="2" [ngValue]="2" *ngIf="slotOpen[1]">Slot 2</option>
              <option value="3" [ngValue]="3" *ngIf="slotOpen[2]">Slot 3</option>
              <option value="4" [ngValue]="4" *ngIf="slotOpen[3]">Slot 4</option>
              <option value="5" [ngValue]="5" *ngIf="slotOpen[4]">Slot 5</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="inputPlayerID" class="form-label">Player Name</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="slotPlayerName" name="slotPlayerName">
          <option selected>...</option>
          <option value="1" *ngFor="let player of players" [ngValue]="player.firstname + ' ' + player.lastname">{{player.firstname}} {{player.lastname}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" (click)="setSlot()">Save</button>
    </form>
  </div>
</div>

