<div class="container-fluid">
    <h1>Player Lookup</h1>
    <div class="sort-header mb-4 d-flex justify-content-between">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{sortBySelected}}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" *ngIf="sortBySelected != 'A-Z'">A-Z</a></li>
              <li><a class="dropdown-item" *ngIf="sortBySelected != 'Z-A'">Z-A</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Position
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">GK</a></li>
              <li><a class="dropdown-item" href="#">DF</a></li>
              <li><a class="dropdown-item" href="#">MF</a></li>
              <li><a class="dropdown-item" href="#">FW</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Rating
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">HIGH TO LOW</a></li>
              <li><a class="dropdown-item" href="#">LOW TO HIGH</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Saves
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">HIGH TO LOW</a></li>
              <li><a class="dropdown-item" href="#">LOW TO HIGH</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Tackles
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">HIGH TO LOW</a></li>
              <li><a class="dropdown-item" href="#">LOW TO HIGH</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Assists
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">HIGH TO LOW</a></li>
              <li><a class="dropdown-item" href="#">LOW TO HIGH</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Goals
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">HIGH TO LOW</a></li>
              <li><a class="dropdown-item" href="#">LOW TO HIGH</a></li>
            </ul>
        </div>
    </div>
    <div class="player-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Position</th>
                <th scope="col">Rating</th>
                <th scope="col">Goals</th>
                <th scope="col">Assists</th>
                <th scope="col">Tackles</th>
                <th scope="col">Saves</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of players">
                <th scope="row">{{player.player_id}}</th>
                <td>{{player.firstname}}</td>
                <td>{{player.lastname}}</td>
                <td>GK</td>
                <td>{{player.rating}}</td>
                <td>{{player.goals}}</td>
                <td>{{player.assists}}</td>
                <td>{{player.tackles}}</td>
                <td>{{player.saves}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>