<div class="container-fluid">
    <h1>Leaderboard</h1>
    <div class="sort-header mb-4 d-flex justify-content-between">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{sortBySelected}}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" *ngIf="sortBySelected != 'Highest/Lowest Rated Teams'">Highest/Lowest Rated Teams</a></li>
              <li><a class="dropdown-item" *ngIf="sortBySelected != 'Alphabetical order by team name'">Alphabetical order by team name</a></li>
              <li><a class="dropdown-item" *ngIf="sortBySelected != 'Reverse alphabetical order by team name'">Reverse alphabetical order by team name</a></li>
            </ul>
        </div>
    </div>
    <div class="player-table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">TeamName</th>
                <th scope="col">Goals</th>
                <th scope="col">Assists</th>
                <th scope="col">Saves</th>
                <th scope="col">Tackles</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of teams">
                <th scope="row">{{team.teamid}}</th>
                <td>{{team.TeamName}}</td>
                <td>{{team.TotalGoals}}</td>
                <td>{{team.TotalAssists}}</td>
                <td>{{team.TotalSaves}}</td>
                <td>{{team.TotalTackles}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
